@page "/Combos/Create"
@rendermode InteractiveServer
@inject ProductosService productosService
@inject CombosServices combosServices
@inject NavigationManager navigation
@inject ToastService Toast

<PageTitle>Crear Nuevo Combo</PageTitle>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<EditForm Model="@Combo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Combo</h5>
            </div>

            <div class="card-body">
                @* ID del Combo *@
                <div class="mb-3">
                    <label for="CombosId" class="form-label"><strong>Combo Id</strong></label>
                    <InputNumber class="form-control" @bind-Value="Combo.CombosId" readonly></InputNumber>
                </div>

                @* Fecha del Combo *@
                <div class="mb-3">
                    <label for="Fecha" class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="Combo.Fecha"></InputDate>
                </div>

                @* Descripción *@
                <div class="mb-3">
                    <label for="Descripcion" class="form-label"><strong>Descripci&oacute;n</strong></label>
                    <InputText class="form-control" @bind-Value="Combo.Descripcion"></InputText>
                    <ValidationMessage For="(() => Combo.Descripcion)"></ValidationMessage>
                </div>

                @* Vendido *@
                <div class="mb-3">
                    <label for="Vendido" class="form-label"><strong>¿Vendido?</strong></label>
                    <InputCheckbox class="form-check-input" @bind-Value="Combo.Vendido" />
                </div>

                @* Precio Total *@
                <div class="mb-3">
                    <label for="Precio" class="form-label"><strong>Precio Total</strong></label>
                    <InputNumber class="form-control" @bind-Value="Combo.Precio" readonly></InputNumber>
                </div>

             
                @* Detalles del Combo *@
                <div class="border border-success p-3 mt-3">
                    <h4>Detalles del Combo</h4>
                    @if (!string.IsNullOrEmpty(DetalleMensaje))
                    {
                        <div class="alert alert-danger" role="alert">
                            @DetalleMensaje
                        </div>
                    }
                    <div class="row">
                        <div class="col-auto input-group align-items-center">
                            <SeleccionArticulo Productos="ArticulosDisponibles"
                                               Cantidad="NuevoDetalle.Cantidad"
                                               Costo="NuevoDetalle.Costo"
                                               ProductosId="NuevoDetalle.ProductosId"
                                               productoSeleccionado="AgregarDetalle" />
                        </div>
                    </div>

                    <div>
                        <table class="table table-light">
                            <thead class="table-striped">
                                <tr class="text-center">
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Costo</th>
                                    <th>Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Detalle in Combo.CombosDetalle)
                                {
                                    <tr class="text-center">
                                        <td>@Detalle.ProductosId</td>
                                        <td>@Detalle.Cantidad</td>
                                        <td>@Detalle.Costo</td>
                                        <td>
                                            <button type="button" @onclick="() => RemoverDetalle(Detalle)" class="btn btn-outline-danger bi bi-trash"> Remover</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="/Combos/Index" class="btn btn-secondary text-white bi bi-arrow-90deg-left"> Volver</a>
                <button type="submit" class="btn btn-success bi bi-floppy-fill"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Combo1 Combo { get; set; } = new Combo1();
    public ComboDetalles NuevoDetalle { get; set; } = new ComboDetalles();
    public List<Product> ArticulosDisponibles { get; set; } = new List<Product>();
    public string DetalleMensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ArticulosDisponibles = await productosService.Listar(a => a.ProductosId > 0);
    }

    private void CalcularMontoTotal()
    {
        Combo.Precio = Combo.CombosDetalle.Sum(d => d.Costo * d.Cantidad);
    }

    private async Task AgregarDetalle((Product producto, int Cantidad) selection)
    {
        Toast.Notify(new(ToastType.Success, "Se ha Agregado un detalle del Producto"));
        var DetalleExistente = Combo.CombosDetalle
            .FirstOrDefault(d => d.ProductosId == selection.producto.ProductosId);

        if (DetalleExistente != null)
        {
            DetalleExistente.Cantidad += selection.Cantidad;
            DetalleExistente.Costo = selection.producto.Costo;
        }
        else
        {
            var detalle = new ComboDetalles
                {
                    ProductosId = selection.producto.ProductosId,
                    Cantidad = selection.Cantidad,
                    Costo = selection.producto.Costo
                };
            Combo.CombosDetalle.Add(detalle);
        }

        CalcularMontoTotal();
        await Task.CompletedTask;
    }

    public async Task Guardar()
    {
        if (!Combo.CombosDetalle.Any())
        {
           
            DetalleMensaje = "Debe agregar al menos un detalle.";
            return;
        }

        await combosServices.Guardar(Combo);
        Toast.Notify(new(ToastType.Success, "Combo creado exitosamente"));
        await Task.Delay(4000);
        navigation.NavigateTo("/Combos/Index");
    }

    public void RemoverDetalle(ComboDetalles detalle)
    {
        Combo.CombosDetalle.Remove(detalle);
        CalcularMontoTotal();
    }
}
